* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 45% 10% ;
    height: 97vh;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.weiss {
    border: 1px solid white;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.rot {
    background: red;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gelb {
    background: gold;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.blau {
    background: blue;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    color:white;
}

.reset {
    
    background: rgb(53,53,53);
    color:white;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.dq{
    background: rgb(53, 53, 53);
    color:white;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.wrapperIN{
    margin: 0 auto;
    text-align: center;
}
p{
    display: inline-block;
}
.check{
    
    font-size: 1em;
    background: gray;
    
}