*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


section.brainstorm{
    background: rgb(0, 132, 255);
    
}
section.warten{
    background: rgb(0, 255, 100);
}
div{
    border: 1px solid black;
    margin: 5px;
    padding: 1em;
    color: #fff;
    background: rgb(69, 69, 69); 
    transition: 0.5s;
}
div:hover{
    
    transition: 0.5s;
    background: rgb(109, 109, 109);
}

@media only screen and (min-width: 600px) {

.main-nav{
    background: rgb(0, 170, 255);
    position: fixed;
}




}